/* .container{
    padding-top: 30px;
} */

/* .container{
    width: 100%;
} */

/* img{
    display: block;
    margin: 0 auto;
} */

/* .container.image {
    width: 250px;
    height: 250px;
} */

div > p {
    text-align: justify;
}
.blockquote p {
    font-size: 18px !important;
    text-align: justify;
}

/* .p-0 {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.my-link:hover {
    text-decoration: underline;
}

.media-box {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .image {
        max-width: 250px !important;
        /* height: 300px; */
        text-align: center;
    }
    .col-4 {
        display: block;
        margin: auto;
    }
}
