/* .container{
    padding-top: 30px;
} */

/* .container{
    width: 100%;
} */

/* img{
    display: block;
    margin: 0 auto;
} */

/* .container.image {
    width: 250px;
    height: 250px;
} */

div > p {
    text-align: justify;
}
.blockquote p {
    font-size: 18px !important;
    text-align: justify;
}

/* .p-0 {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.my-link:hover {
    text-decoration: underline;
}



#feedback{
    background:#0d0442 ;
    padding: 7% 10% ;
}

.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 60px;
    
}
.carousel-item{
    padding: 5% 15%;
    font-style: italic;
    text-align: center;
}
.carousel-item img{
    width: 500px;
    height: auto;
}

.carousel-indicators{
    bottom: -20px;
}

.media-box {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .image {
        max-width: 250px !important;
        /* height: 300px; */
        text-align: center;
    }
    .col-4 {
        display: block;
        margin: auto;
    }
}


